.color-33 {background: linear-gradient(to left, black 0%,black 50%,#000000 50%,white 50%,white 100%);}
.color-32 {background: linear-gradient(to left, navy 0%,navy 50%,#000000 50%,white 50%,white 100%);}
.color-34 {background: linear-gradient(to left, red 0%,red 50%,#000000 50%,white 50%,white 100%);}
.color-35 {background: linear-gradient(to left, blue 0%,blue 50%,#044fa3 50%,white 50%,white 100%);}
.color-249 {background: linear-gradient(to left, black 0%,black 50%,#000000 50%,white 50%,white 100%);}
.color-250 {background: linear-gradient(to left, navy 0%,navy 50%,#000000 50%,white 50%,white 100%);}
.color-251 {background: linear-gradient(to left, red 0%,red 50%,#000000 50%,white 50%,white 100%);}
.color-252 {background: linear-gradient(to left, blue 0%,blue 50%,#044fa3 50%,white 50%,white 100%);}
.color-0 {background-image: linear-gradient(to right, orange , yellow, green, cyan, blue, violet) !important;}
.color-0 {background-image: linear-gradient(to right, orange , yellow, green, cyan, blue, violet) !important;}
.color-36 {background: #000000 !important;}
.color-37 {background: #ffffff !important;}
.color-38 {background: #fff8e2 !important;}
.color-39 {background: #e1d7a6 !important;}
.color-40 {background: #f5ce8f !important;}
.color-41 {background: #f1d480 !important;}
.color-42 {background: #ecc66a !important;}
.color-43 {background: #c2955b !important;}
.color-44 {background: #c58e72 !important;}
.color-45 {background: #837050 !important;}
.color-46 {background: #936d2a !important;}
.color-47 {background: #72573a !important;}
.color-48 {background: #eceb7d !important;}
.color-49 {background: #fffc00 !important;}
.color-50 {background: #edff23 !important;}
.color-51 {background: #f7e412 !important;}
.color-52 {background: #f9e71b !important;}
.color-53 {background: #fac717 !important;}
.color-54 {background: #f0af1b !important;}
.color-55 {background: #e8964d !important;}
.color-56 {background: #ee845b !important;}
.color-57 {background: #f19c16 !important;}
.color-58 {background: #ff8400 !important;}
.color-59 {background: #f07a12 !important;}
.color-60 {background: #e64f16 !important;}
.color-61 {background: #e64f16 !important;}
.color-62 {background: #bf5f2f !important;}
.color-63 {background: #f3cae0 !important;}
.color-64 {background: #ff5fc5 !important;}
.color-65 {background: #ffcee8 !important;}
.color-66 {background: #e56d9b !important;}
.color-67 {background: #e06c7d !important;}
.color-68 {background: #fb87c5 !important;}
.color-69 {background: #c81f5f !important;}
.color-70 {background: #fe4e89 !important;}
.color-71 {background: #f15149 !important;}
.color-72 {background: #da05dd !important;}
.color-73 {background: #b4140d !important;}
.color-74 {background: #9e1b1b !important;}
.color-75 {background: #9d2222 !important;}
.color-76 {background: #740c1b !important;}
.color-77 {background: #7d2851 !important;}
.color-78 {background: #71242f !important;}
.color-79 {background: #700e1c !important;}
.color-80 {background: #c9eef1 !important;}
.color-81 {background: #a1d3f6 !important;}
.color-82 {background: #50cdc9 !important;}
.color-83 {background: #70cec8 !important;}
.color-84 {background: #5bceef !important;}
.color-85 {background: #56c1ff !important;}
.color-86 {background: #56a1d0 !important;}
.color-87 {background: #15a4cd !important;}
.color-88 {background: #00c6ff !important;}
.color-89 {background: #7a9bb5 !important;}
.color-90 {background: #7c8b95 !important;}
.color-91 {background: #258b94 !important;}
.color-92 {background: #1f7eaf !important;}
.color-93 {background: #0b7dac !important;}
.color-94 {background: #1f50aa !important;}
.color-95 {background: #2f54c0 !important;}
.color-96 {background: #5267b5 !important;}
.color-97 {background: #1a24e8 !important;}
.color-98 {background: #2c48c0 !important;}
.color-99 {background: #262a6d !important;}
.color-100 {background: #041f79 !important;}
.color-101 {background: #253274 !important;}
.color-102 {background: #236e73 !important;}
.color-103 {background: #3d4452 !important;}
.color-104 {background: #526a86 !important;}
.color-105 {background: #13294c !important;}
.color-106 {background: #193152 !important;}
.color-107 {background: #011833 !important;}
.color-108 {background: #68ea4f !important;}
.color-109 {background: #56c421 !important;}
.color-110 {background: #58ce3b !important;}
.color-111 {background: #00ee00 !important;}
.color-112 {background: #7bc24c !important;}
.color-113 {background: #a0e36e !important;}
.color-114 {background: #9de7a8 !important;}
.color-115 {background: #1ca01f !important;}
.color-116 {background: #027c0b !important;}
.color-117 {background: #23ad64 !important;}
.color-118 {background: #5dc38d !important;}
.color-119 {background: #228f7c !important;}
.color-120 {background: #76a49e !important;}
.color-121 {background: #6f9989 !important;}
.color-122 {background: #729753 !important;}
.color-123 {background: #1a5e1d !important;}
.color-124 {background: #0f5015 !important;}
.color-125 {background: #667c54 !important;}
.color-126 {background: #183c1a !important;}
.color-127 {background: #043e0d !important;}
.color-128 {background: #54563f !important;}
.color-129 {background: #a7b689 !important;}
.color-130 {background: #bea8c4 !important;}
.color-131 {background: #4d2b62 !important;}
.color-132 {background: #9187a5 !important;}
.color-133 {background: #484b5a !important;}
.color-134 {background: #340f4d !important;}
.color-135 {background: #400412 !important;}
.color-136 {background: #c5c5c5 !important;}
.color-137 {background: #b2b4b5 !important;}
.color-138 {background: #c3bab1 !important;}
.color-139 {background: #675f40 !important;}
.color-140 {background: #504d46 !important;}
.color-141 {background: #291e0b !important;}
.color-142 {background: #dbdbdb !important;}
.color-143 {background: #d11523 !important;}
.color-144 {background: #f6e691 !important;}
.color-145 {background: #1e83d3 !important;}
.color-146 {background: #06bad3 !important;}
.color-147 {background: #e0c9b7 !important;}
.color-148 {background: #b3b1be !important;}
.color-149 {background: #233424 !important;}
.color-150 {background: #be3233 !important;}
.color-151 {background: #252f88 !important;}
.color-152 {background: #35586e !important;}
.color-153 {background: #674e4a !important;}
.color-154 {background: #686868 !important;}
.color-155 {background: #2e5e20 !important;}
.color-156 {background: #304050 !important;}
.color-157 {background: #c03634 !important;}
.color-158 {background: #6894d5 !important;}
.color-159 {background: #2f90c3 !important;}
.color-160 {background: #b9e6ec !important;}
.color-161 {background: #c0bcbd !important;}
.color-162 {background: #b67a79 !important;}
.color-163 {background: #343d4c !important;}
.color-164 {background: #cef248 !important;}
.color-165 {background: #e46544 !important;}
.color-166 {background: #ff571a !important;}
.color-167 {background: #fd6687 !important;}
.color-168 {background: #544280 !important;}
.color-169 {background: #c6c3bc !important;}
.color-170 {background: #9b9891 !important;}
.color-171 {background: #47567f !important;}
.color-172 {background: #3cdcea !important;}
.color-173 {background: #8a8379 !important;}
.color-174 {background: #0e5545 !important;}
.color-175 {background: #858489 !important;}
.color-176 {background: #eb3450 !important;}
