

@font-face {
	font-family: 'Conv_ProximaNova-Regular';
	src: url('../fonts/frontend/default/ProximaNova-Regular.eot');
	src: local('☺'), url('../../../fonts/frontend/default/ProximaNova-Regular.woff') format('woff'),
	url('../fonts/frontend/default/ProximaNova-Regular.ttf') format('truetype'),
	url('../fonts/frontend/default/ProximaNova-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_Proxima Nova Bold';
	src: url('../fonts/frontend/default/Proxima Nova Bold.eot');
	src: local('☺'), url('../../../fonts/frontend/default/Proxima Nova Bold.woff') format('woff'), 
	url('../fonts/frontend/default/Proxima Nova Bold.ttf') format('truetype'),
	url('../fonts/frontend/default/Proxima Nova Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}




